html {
    height: 100%;
}

body{
	height: 100%;
	background-image: url(../IMG/portada.jpg);
    background-size: cover;
    background-position: top;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    width: 100%;
}

a {
    color: #f44336;
}

.navbar-brand img {
    max-height: 70px;
    padding-left: 3rem;
}

li.nav-item {
    font-size: .8rem;
    font-family: Oswald;
    transition: .3s;
}

li.nav-item:hover {
    transform: scale(1.2);
}

li.nav-item:hover .fa{
    transform: scale(1.2);
    color:#f44336;
}

header.leon{
	width: 100%;
	height: 100%;
	background: url(../IMG/leon.png);
	background-position-x: 50%;
    background-size: cover;
}

#textPrincipal{
	visibility: hidden;
}

header h1 {
    font-size: 6.6rem;
    color: #F44336;
    font-weight: 300;
    line-height: 4.2rem;
}

header h3 {
    font-family: 'Oswald', 'sans-serif';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6em;
}

.bordertop {
    border-top: solid 5px #f44336;
}

h2 {
    font-family: 'Oswald', 'sans-serif';
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3.13rem;
}

span.fa.fa-angle-double-down {
    font-size: 87px;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse {
	opacity: .5;
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin:90% 90%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.somos{
    background: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}


.heavy {
    font-weight: 900;
    color: #F44336;
}

.lead {
    font-size: 1.5rem;
    line-height: 1.6rem;
}

.card-img-top {
    max-width: 205.51px;
}

.clientes{
    background: #17161f;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.clientes img{
    max-width: 130px;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: .5;
	transition: .4s;
}

.clientes img:hover{
    -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	opacity: 1;
	transform: scale(1.2)
}

.card-img {
    border-radius: 0px;
}

.ideas{
    background: #17161f;
    color: #ffffff;
    padding-bottom: 100px;
}

.contacto{
    background: #ffffff;
    color: #333333;

}

input {
    background: #ececec;
    border: solid 1px;
    border-color: #dadada;
    padding: 5px;
}

textarea{
	background: #ececec;
    border: solid 1px;
    border-color: #dadada;
}

input#submit {
    background: #F44336;
    color: #ffffff;
    border: none;
    width: 106px;
}

.portSobrepuesta{
	background: #F44336; 
	position: absolute; 
	width: 100%; 
	height: 100%;
	color: #ffffff;
	padding: 20px;
	opacity: 0;
	transition: .4s;		
}

.portSobrepuesta:hover{
	opacity: .9;		
}

.portafolio video:hover{
	opacity: 0;
}